<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>NServiceBus.RabbitMQ</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>CurrentMajor,NextMajor</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="GitFlow" />
  </Feeds>
  <Nugets>
    <Dependency Name="FluentAssertions" Version="2.1.0.0" Mode="Fixed" />
    <Dependency Name="Fody" Version="1.17.4.0" Mode="Fixed" />
    <Dependency Name="Janitor.Fody" Version="0.4.0" Mode="Fixed" />
    <Dependency Name="jQuery" Version="1.6.4.0" Mode="Fixed" />
    <Dependency Name="log4net" Version="1.2.10.0" Mode="Fixed" />
    <Dependency Name="NLog" Version="2.0.1.2" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="5.0.0-beta0001" Mode="Float" />
    <Dependency Name="NServiceBus.AcceptanceTesting" Version="5.0.0-beta0001" Mode="Float" />
    <Dependency Name="NServiceBus.AcceptanceTests.Sources" Version="5.0.0-beta0001" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
    <Dependency Name="RabbitMQ.Client" Version="3.2.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>