<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>NServiceBus.RabbitMQ</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
  </Feeds>
  <Nugets>
    <Dependency Name="FluentAssertions" Version="2.1.0.0" Mode="Fixed" />
    <Dependency Name="Fody" Version="1.17.0.0" Mode="Fixed" />
    <Dependency Name="GitFlowVersion.Fody" Version="0.1.13" Mode="Fixed" />
    <Dependency Name="Janitor.Fody" Version="0.3.0" Mode="Fixed" />
    <Dependency Name="jQuery" Version="1.6.4.0" Mode="Fixed" />
    <Dependency Name="log4net" Version="1.2.10.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.Mvc" Version="4.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.Razor" Version="2.0.20715.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.Core" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.JS" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.Owin" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.SystemWeb" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.WebPages" Version="2.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Host.SystemWeb" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Web.Infrastructure" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="4.5.11.0" Mode="Fixed" />
    <Dependency Name="NLog" Version="2.0.1.2" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.1.0.0-unstable3385" Mode="Float" />
    <Dependency Name="NServiceBus.Host" Version="4.1.0.0-unstable3385" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.1.0.0-unstable3385" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="RabbitMQ.Client" Version="3.1.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>