<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NServiceBus" version="6.0.0-beta0006" targetFramework="net452" />
  <package id="NServiceBus.AcceptanceTesting" version="6.0.0-beta0006" targetFramework="net452" />
  <package id="NServiceBus.AcceptanceTests.Sources" version="6.0.0-beta0006" targetFramework="net452" />
  <package id="NServiceBus.TransportTests.Sources" version="6.0.0-beta0006" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.3" targetFramework="net452" />
</packages>