<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net452" />
  <package id="NServiceBus" version="6.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="PublicApiGenerator" version="5.0.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net452" />
</packages>